- name: Find the latest version of Pulumi
  uri:
    url: https://www.pulumi.com/latest-version
    return_content: yes
  register: pulumi_latest_version
  check_mode: no

- name: Define Pulumi version to install
  set_fact:
    pulumi_version_to_install: "{{ pulumi_latest_version.content }}"

- name: Check if Pulumi is present with the right version
  command: "$HOME/.local/bin/pulumi version"
  register: pulumi_installed_version
  ignore_errors: true
  changed_when: false
  failed_when: false

- name: Install Pulumi
  unarchive:
    src: "https://get.pulumi.com/releases/sdk/pulumi-v{{ pulumi_version_to_install }}-linux-x64.tar.gz"
    dest: "$HOME/.local/bin"
    extra_opts: [--strip-components=1]
    mode: "0755"
    remote_src: yes
  when: pulumi_version_to_install not in pulumi_installed_version.stdout | default('')
